.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

@import '~flag-icon-css/css/flag-icon.min.css';
@import '~react-phone-input-2/lib/style.css';


/* CSS to fix the date squishing issue */

.email-rightbar .message-list .col-mail .date {
  white-space: nowrap;
  margin-left: 15px; /* Adjust this value to create appropriate spacing */
}

.email-rightbar .message-list .col-mail .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: calc(100% - 100px); /* Adjust the width as needed */
}

.card.draggable {
  margin-bottom: 1rem;
  cursor: grab;
}

.droppable {
  background-color: var(--success);
  min-height: 120px;
  margin-bottom: 1rem;
}

/* From Uiverse.io by Yaya12085 */ 
.filecontainer {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
}

.fileheader {
  flex: 1;
  width: 100%;
  border: 2px dashed royalblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fileheader svg {
  height: 100px;
}

.fileheader p {
  text-align: center;
  color: black;
}

.filefooter {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.filefooter svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.filefooter p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}